html {
  font-size: 22px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #111;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.presentation {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .loading {
    width: 200px;
    height: 10px;
    border: solid 1px #000;
    padding: 0;

    .fill {
      background-color: #000;
      width: 0;
      height: 100%;
      transition: width 100ms;
    }
  }

  .slide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    background-color: white;

    will-change: transform;
    transform: translateX(0);

    &::before {
      content: "";
    }

    &::after {
      content: "";
    }
  }

  .error {
    color: red;
    font-size: 18px;
  }
}

.controls {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  position: absolute;
  right: 30px;
  bottom: 30px;
  width: auto;
  height: auto;

  >a {
    cursor: pointer;

    >img {
      width: 45px;
      height: 45px;
    }

    &:active {
      transform: translateY(3px);
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:active {
        transform: none;
      }
    }
  }
}

.presentation .slide {
  font-size: 1rem;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;
  }

  h2 {
    margin: 0 0 1rem 0;
    padding: 0;
    font-size: 1.5rem;
  }

  h3 {
    margin: 0 0 0.5rem 0;
    padding: 0;
    font-size: 1.2rem;
  }

  .above-detail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 25vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    overflow: auto;

    &::before {
      content: "";
    }

    &::after {
      content: "";
    }
  }

  .detail {
    position: absolute;
    height: calc(25vh - 20px);
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: solid 2px #000;
    overflow-y: auto;
    padding: 10px 10px 45px 10px;
    font-size: 0.8rem;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &::before {
      content: "";
    }

    &::after {
      content: "";
    }

    h3 {
      font-size: 1rem;
      margin: 0 0 5px 0;
      padding: 0;
    }
  }

  .spoiler {
    border: dashed 1px #000;
    padding: 8px;
    margin: 8px;
    position: relative;

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      content: "Click to reveal";
      background-color: #eee;
      color: rgb(33, 31, 133);
      cursor: pointer;
    }

    &.revealed::after {
      display: none;
    }
  }

  .side-by-side-img {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;

    img {
      width: 50%;
      height: auto;
    }
  }

  .svg-hover-box {
    display: none;
    position: fixed;
    max-width: 400px;
    height: auto;
    background-color: white;
    border: solid 3px #000;
    font-size: 0.6rem;
    padding: 10px;
    z-index: 100;
  }

  .fullwidth {
    width: 90%;

    &>* {
      width: 100%;
    }
  }

  .fullscreenimg {
    width: 90%;
    max-height: 66vh;
    object-fit: contain;
  }

  p {
    margin: 10px 4rem;
    font-size: 1rem;
  }

  div.spoiler {
    @extend p;
  }

  [data-ref] {
    cursor: pointer;
  }

  .armreplantseq {
    div {
      margin: 10px 0;
    }

    .blank {
      background-color: white;
      border: 1px solid #000;
      width: 200px;
      height: 1.5rem;
    }
  }

  .quizfillin {
    >div {
      margin: 10px 0;
    }

    .spoiler {
      width: 160px;
      display: inline-block;
      text-align: center;
    }
  }

  .quizlonganswer {
    .ans {
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }

  .selections {
    .choice {
      border: solid 1px #000;
      padding: 4px 8px;
      width: auto;
      margin: 5px;
      display: inline-block;
      background-color: white;
    }
  }

  .draggable:not(.disabled) {
    cursor: move;
  }

  &.slide-16, &.slide-17 {
    .side-by-side-img {
      height: 70vh;
    }

    .selections {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      overflow: visible;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .answer {
    color: green;
    visibility: hidden;
  }

  .references {
    font-size: 0.8rem;
    margin: 10px auto;
    padding: 0 20px;
    width: auto;
  }

  .reference-link {
    color: rgb(33, 31, 133);
  }

  .tofill {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  &.slide-14 {
    .tofill {
      width: 150px;
      text-align: center;
    }

    .answer {
      display: none;

      &.show {
        display: inline;
      }
    }
  }

  .reveal-answers {
    padding: 8px 1rem;
    font-size: 1.5rem;
  }

  &.slide-15 {
    .tofill {
      width: 100%;
    }
    .answer {
      margin-bottom: 1rem;
    }
  }

}

.presentation.shake {
  animation: shake .6s linear;
}

@keyframes shake {
  0% {
    transform: translateX(-10px);
  }

  16% {
    transform: translateX(9px);
  }

  33% {
    transform: translateX(-6px);
  }

  50% {
    transform: translateX(5px);
  }

  66% {
    transform: translateX(-2px);
  }

  83% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0px);
  }
}
