html {
  font-size: 22px; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #111;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.presentation {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .presentation .loading {
    width: 200px;
    height: 10px;
    border: solid 1px #000;
    padding: 0; }
    .presentation .loading .fill {
      background-color: #000;
      width: 0;
      height: 100%;
      transition: width 100ms; }
  .presentation .slide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    background-color: white;
    will-change: transform;
    transform: translateX(0); }
    .presentation .slide::before {
      content: ""; }
    .presentation .slide::after {
      content: ""; }
  .presentation .error {
    color: red;
    font-size: 18px; }

.controls {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: auto;
  height: auto; }
  .controls > a {
    cursor: pointer; }
    .controls > a > img {
      width: 45px;
      height: 45px; }
    .controls > a:active {
      transform: translateY(3px); }
    .controls > a.disabled {
      opacity: 0.5;
      cursor: not-allowed; }
      .controls > a.disabled:active {
        transform: none; }

.presentation .slide {
  font-size: 1rem; }
  .presentation .slide h1 {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center; }
  .presentation .slide h2 {
    margin: 0 0 1rem 0;
    padding: 0;
    font-size: 1.5rem; }
  .presentation .slide h3 {
    margin: 0 0 0.5rem 0;
    padding: 0;
    font-size: 1.2rem; }
  .presentation .slide .above-detail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 25vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    overflow: auto; }
    .presentation .slide .above-detail::before {
      content: ""; }
    .presentation .slide .above-detail::after {
      content: ""; }
  .presentation .slide .detail {
    position: absolute;
    height: calc(25vh - 20px);
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: solid 2px #000;
    overflow-y: auto;
    padding: 10px 10px 45px 10px;
    font-size: 0.8rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .presentation .slide .detail::before {
      content: ""; }
    .presentation .slide .detail::after {
      content: ""; }
    .presentation .slide .detail h3 {
      font-size: 1rem;
      margin: 0 0 5px 0;
      padding: 0; }
  .presentation .slide .spoiler {
    border: dashed 1px #000;
    padding: 8px;
    margin: 8px;
    position: relative; }
    .presentation .slide .spoiler::after {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      content: "Click to reveal";
      background-color: #eee;
      color: #211f85;
      cursor: pointer; }
    .presentation .slide .spoiler.revealed::after {
      display: none; }
  .presentation .slide .side-by-side-img {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%; }
    .presentation .slide .side-by-side-img img {
      width: 50%;
      height: auto; }
  .presentation .slide .svg-hover-box {
    display: none;
    position: fixed;
    max-width: 400px;
    height: auto;
    background-color: white;
    border: solid 3px #000;
    font-size: 0.6rem;
    padding: 10px;
    z-index: 100; }
  .presentation .slide .fullwidth {
    width: 90%; }
    .presentation .slide .fullwidth > * {
      width: 100%; }
  .presentation .slide .fullscreenimg {
    width: 90%;
    max-height: 66vh;
    object-fit: contain; }
  .presentation .slide p, .presentation .slide div.spoiler {
    margin: 10px 4rem;
    font-size: 1rem; }
  .presentation .slide [data-ref] {
    cursor: pointer; }
  .presentation .slide .armreplantseq div {
    margin: 10px 0; }
  .presentation .slide .armreplantseq .blank {
    background-color: white;
    border: 1px solid #000;
    width: 200px;
    height: 1.5rem; }
  .presentation .slide .quizfillin > div {
    margin: 10px 0; }
  .presentation .slide .quizfillin .spoiler {
    width: 160px;
    display: inline-block;
    text-align: center; }
  .presentation .slide .quizlonganswer .ans {
    width: 100%;
    margin: 0 0 2rem 0; }
  .presentation .slide .selections .choice {
    border: solid 1px #000;
    padding: 4px 8px;
    width: auto;
    margin: 5px;
    display: inline-block;
    background-color: white; }
  .presentation .slide .draggable:not(.disabled) {
    cursor: move; }
  .presentation .slide.slide-16 .side-by-side-img, .presentation .slide.slide-17 .side-by-side-img {
    height: 70vh; }
  .presentation .slide.slide-16 .selections, .presentation .slide.slide-17 .selections {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    overflow: visible; }
  .presentation .slide.slide-16 svg, .presentation .slide.slide-17 svg {
    width: 100%;
    height: 100%; }
  .presentation .slide .answer {
    color: green;
    visibility: hidden; }
  .presentation .slide .references {
    font-size: 0.8rem;
    margin: 10px auto;
    padding: 0 20px;
    width: auto; }
  .presentation .slide .reference-link {
    color: #211f85; }
  .presentation .slide .tofill {
    font-size: 1.2rem;
    line-height: 1.5rem; }
  .presentation .slide.slide-14 .tofill {
    width: 150px;
    text-align: center; }
  .presentation .slide.slide-14 .answer {
    display: none; }
    .presentation .slide.slide-14 .answer.show {
      display: inline; }
  .presentation .slide .reveal-answers {
    padding: 8px 1rem;
    font-size: 1.5rem; }
  .presentation .slide.slide-15 .tofill {
    width: 100%; }
  .presentation .slide.slide-15 .answer {
    margin-bottom: 1rem; }

.presentation.shake {
  animation: shake .6s linear; }

@keyframes shake {
  0% {
    transform: translateX(-10px); }
  16% {
    transform: translateX(9px); }
  33% {
    transform: translateX(-6px); }
  50% {
    transform: translateX(5px); }
  66% {
    transform: translateX(-2px); }
  83% {
    transform: translateX(1px); }
  100% {
    transform: translateX(0px); } }

/*# sourceMappingURL=style.css.map */
