<h2 data-label="alyn">Axillary lymph nodes <span class="reference-link" data-ref="r5">(5, 8)</span></h2>
<div class="include fullwidth" data-src="/slides/svg/10.svg"></div>

<p>
  Lymphatic system drains the lymph and leaked plasma proteins to the blood steam to remove the cellular debris and infection. It is part of the immune system.
</p>
<p>
  Lymph nodes contain white blood cells and filter lymph to mount effective immune responses. The axillary lymph nodes are buried in the axillary fat and supplied with lymph via lymphatic vessels. They can be classified into five axillary lymph node groups: anterior (pectoral), posterior (subscapular), lateral (humeral), central, and apical nodes.
</p>

<div class="svg-hover-box" data-target="#rect64">
  The <b>anterior (pectoral)</b> nodes receive lymph from the anterior thoracic wall and breast.
</div>
<div class="svg-hover-box" data-target="#rect193">
  The <b>posterior nodes</b> receive lymph from the skin and muscles of the posterior and inferior thoracic walls and scapular region.
</div>
<div class="svg-hover-box" data-target="#rect304">
  The <b>lateral nodes</b> receive lymph from the upper limb.
</div>
<div class="svg-hover-box" data-target="#rect416">
  The <b>central nodes</b> receive lymph from the anterior, posterior, and lateral nodes. The lymphatic vessels then pass to the <b>apical nodes</b>.
</div>
<div class="svg-hover-box" data-target="#rect529">
  The lymphatic vessels from the <b>apical nodes</b> drain to the other ducts and enter the blood circulation.
</div>
