<h2 data-label="nerv">Nerves <span class="reference-link" data-ref="r5">(5)</span></h2>

<img src="/slides/img/11.png" class="fullscreenimg">

<p>
  The major network that innervates the upper limb is brachial plexus. It starts at the lateral border of the cervical spine and extends into the axilla. It is a complex structure. If you want to know which nerve innervates which specific muscles, you can read the book “Essential Clinical Anatomy”, 5th ed., pp. 425-431.
</p>
