<h2 data-label="ares">Arm replantation sequence</h2>

<p style="text-align: center;">
  After being familiar with the anatomy of the axilla, what do you think of the sequence of the arm replantation?
  <br><br>
  Which structure needs to be repaired first?
</p>

<div></div>
