<h2>Arm replantation sequence</h2>

<div style="text-align: center;" class="armreplantseq">
  <div>Bone</div>
  <div><img src="/svg/down.svg" style="height: 1.2rem;"></div>
  <div>Muscles and tendon</div>
  <div><img src="/svg/down.svg" style="height: 1.2rem;"></div>
  <div>Arteries</div>
  <div><img src="/svg/down.svg" style="height: 1.2rem;"></div>
  <div>Veins</div>
  <div><img src="/svg/down.svg" style="height: 1.2rem;"></div>
  <div>Nerves</div>
  <div><img src="/svg/down.svg" style="height: 1.2rem;"></div>
  <div>Skin</div>
</div>

<p>
  Bone shortening is the first step of the surgery. It provides better bone apposition for bone fixation. <span class="reference-link" data-ref="r9">(9)</span>
  <br><br>
  For muscle reparation, some surgeons may prefer to repair the flexor muscle first with extensor muscle reparation after the nerve coaptation, while others may repair both the extensor and flexor muscles after bone fixation. <span class="reference-link" data-ref="r10">(10)</span>
  <br><br>
  Veins can also be repaired before arteries. Some surgeons repair arteries first in order to dilate veins and make the vein identification easier, whereas others anastomose veins before artery anastomosis due to the bloodless field (9). Some researchers recommended repairing 2 veins for every 1 arterial repair <span class="reference-link" data-ref="r11">(11)</span>. Veins should be repaired as much as possible to avoid bleeding after clamp release <span class="reference-link" data-ref="r12">(12)</span>.
  <br><br>
  Normally, lymph is not replanted. The lymphatic system will regenerate spontaneously after surgery.
</p>
