<h2 data-label="quiz">Quiz</h2>

<p style="max-width: 800px;">
  Answer the following questions with anatomical direction terms. Click the “reveal answers” button to reveal the correct answers. (ps. Click it after you have answered all the questions 😜)
</p>

<div class="quizfillin">
  <div>
    The heart is <input type="text" class="tofill"> to the lungs. <span class="answer">medial</span>
  </div>
  <div>
    The left eye is <input type="text" class="tofill"> to the nose. <span class="answer">lateral</span>
  </div>
  <div>
    The fingers are <input type="text" class="tofill"> to the wrist. <span class="answer">distal</span>
  </div>
  <div>
    The thorax is <input type="text" class="tofill"> to the abdomen. <span class="answer">superior</span>
  </div>
  <div>
    The mouth is <input type="text" class="tofill"> to the nose. <span class="answer">inferior</span>
  </div>
</div>

<div>
  <button class="reveal-answers">Reveal answers</button>
</div>

<div></div>
