<h2>Quiz</h2>

<p>
  Fill in the boxes with the correct answers, then click "reveal answers" to check.
</p>

<div class="quizlonganswer" style="margin-bottom: 1rem;">
  <div class="q">
    What muscles make up the anterior wall of the axilla?
  </div>
  <input type="text" class="tofill">
  <div class="answer">
    Pectoralis major and minor
  </div>
  <div class="q">
    What muscles make up the medial wall of the axilla?
  </div>
  <input type="text" class="tofill">
  <div class="answer">
    Serratus anterior
  </div>
  <div class="q">
    What structures pass through the quadrangular space?
  </div>
  <input type="text" class="tofill">
  <div class="answer">
    Axillary nerve and posterior circumflex humeral artery and vein
  </div>
  <div class="q">
    What structures pass through the triangular space?
  </div>
  <input type="text" class="tofill">
  <div class="answer">
    Circumflex scapular artery
  </div>
</div>

<div>
  <button class="reveal-answers">Reveal answers</button>
</div>
