<h2>Match Artery</h2>

<p>Drag the answers to the correct place.</p>

<div class="side-by-side-img">
  <div class="include" data-src="/slides/svg/16.svg" style="flex-grow: 1; align-self: stretch;"></div>
  <div class="selections">
    <span class="choice draggable" data-targets="svg #layer2 > rect" data-correct="#rect1463">axillary artery</span>
    <span class="choice draggable" data-targets="svg #layer2 > rect" data-correct="#rect1461">posterior circumflex humeral artery</span>
    <span class="choice draggable" data-targets="svg #layer2 > rect" data-correct="#rect1583">subscapular artery</span>
    <span class="choice draggable" data-targets="svg #layer2 > rect" data-correct="#rect1351">anterior circumflex humeral artery</span>
    <span class="choice draggable" data-targets="svg #layer2 > rect" data-correct="#rect1816">subclavian artery</span>
    <span class="choice draggable" data-targets="svg #layer2 > rect" data-correct="#rect1700">superior thoracic artery</span>
    <span class="choice draggable" data-targets="svg #layer2 > rect" data-correct="#rect1698">thoracoacromial artery</span>
    <span class="choice draggable" data-targets="svg #layer2 > rect" data-correct="#rect1696">lateral thoracic artery</span>
    <span class="choice draggable" data-targets="svg #layer2 > rect">thoracodorsal artery</span>
    <span class="choice draggable" data-targets="svg #layer2 > rect">circumflex scapular artery</span>
    <span class="choice draggable" data-targets="svg #layer2 > rect">brachial artery</span>
  </div>
</div>
