<h2>Match replantation sequence</h2>

<p>Drag the answers to the correct place.</p>

<div class="side-by-side-img">
  <div style="text-align: center;" class="armreplantseq">
    <div class="blank" id="a1"></div>
    <div><img src="/svg/down.svg" style="height: 1.2rem;"></div>
    <div class="blank" id="a2"></div>
    <div><img src="/svg/down.svg" style="height: 1.2rem;"></div>
    <div class="blank" id="a3"></div>
    <div><img src="/svg/down.svg" style="height: 1.2rem;"></div>
    <div class="blank" id="a4"></div>
    <div><img src="/svg/down.svg" style="height: 1.2rem;"></div>
    <div class="blank" id="a5"></div>
    <div><img src="/svg/down.svg" style="height: 1.2rem;"></div>
    <div class="blank" id="a6"></div>
  </div>

  <div class="selections">
    <span class="choice draggable" data-targets=".blank" data-correct="#a1">Bone</span>
    <span class="choice draggable" data-targets=".blank" data-correct="#a2">Muscles and tendon</span>
    <span class="choice draggable" data-targets=".blank" data-correct="#a3">Arteries</span>
    <span class="choice draggable" data-targets=".blank" data-correct="#a4">Veins</span>
    <span class="choice draggable" data-targets=".blank" data-correct="#a5">Nerves</span>
    <span class="choice draggable" data-targets=".blank" data-correct="#a6">Skin</span>
    <span class="choice draggable" data-targets=".blank">Lymph nodes</span>
    <span class="choice draggable" data-targets=".blank">Lymph vessels</span>
  </div>
</div>
