<h2 data-label="refs">References</h2>

<div class="references">
  <div data-label="r1">
    1. Machado C. Anatomy of the Axilla Dr Rania Gabr. - ppt video online download [Internet]. Slideplayer.com.
    Available from:
    <a href="https://slideplayer.com/slide/6391629/" target="_blank">
      https://slideplayer.com/slide/6391629/
    </a>
  </div>
  <div data-label="r2">
    2. Oiseth S, Jones L, Maza E. Axilla
    and Brachial Plexus: Anatomy. Concise Medical Knowledge [Internet]. Lecturio.
    2020. Available from:
    <a href="https://www.lecturio.com/concepts/axilla-and-brachial-plexus/" target="_blank">
      https://www.lecturio.com/concepts/axilla-and-brachial-plexus/
    </a>
  </div>

  <div data-label="r3">
    3. Gordon A,
    Alsayouri K. Anatomy, shoulder and upper limb, axilla.
  </div>

  <div data-label="r4">
    4. Anatomical
    Orientation and Directions. Human Anatomy and Physiology Lab (BSB 141)
    [Internet]. Courses.lumenlearning.com. Available from:
    <a href="https://courses.lumenlearning.com/ap1x94x1/chapter/anatomical-orientation-and-directions/" target="_blank">
      https://courses.lumenlearning.com/ap1x94x1/chapter/anatomical-orientation-and-directions/
    </a>
  </div>

  <div data-label="r5">
    5.
    Moore KL, Agur AMR, Dalley AF.&nbsp;Essential Clinical Anatomy. 5Th edition;
    International ed. Philadelphia: Wolters Kluwer Health; 2015.
  </div>

  <div data-label="r6">
    6. Jones J,
    Hacking C. Axillary artery. Reference Article. Radiopaedia.org [Internet].
    Radiopaedia.org. 2021. Available from:
    <a href="https://radiopaedia.org/articles/axillary-artery" target="_blank">
      https://radiopaedia.org/articles/axillary-artery
    </a>
  </div>

  <div data-label="r7">
    7. Hoskins A, Hacking C.
    Axillary vein. Reference Article. Radiopaedia.org [Internet]. Radiopaedia.org.
    2021. Available from:
    <a href="https://radiopaedia.org/articles/axillary-vein-1?lang=g" target="_blank">
      https://radiopaedia.org/articles/axillary-vein-1?lang=g
    </a>
  </div>

  <div data-label="r8">
    8. Kähäri L,
    Fair-Mäkelä R, Auvinen K, Rantakari P, Jalkanen S, Ivaska J, Salmi M.
    Transcytosis route mediates rapid delivery of intact antibodies to draining
    lymph nodes. Journal of Clinical Investigation. 2019;129(8):3086-3102.
  </div>

  <div data-label="r9">
    9.
    Bueno, RA, Battiston B, Ciclamini D, Titolo P, Panero B, Tos
    P.&nbsp;Replantation. Clinics in Plastic Surgery. 2014; 41(3):385–395.
  </div>

  <div data-label="r10">
    10.
    Lin P-Y, Jeng S-F, Lin T-S, Hsieh C-H.&nbsp;Upper limb replantation. Trauma.
    2012; 14(4):313&mdash;326.
  </div>

  <div data-label="r11">
    11. Maricevich M, Carlsen B, Mardini S, Moran S. Upper
    extremity and digital replantation. Hand (N Y). 2011 Dec;6(4):356-63.
  </div>

  <div data-label="r12">
    12.
    Sabapathy SR, Venkatramani H, Bharathi RR, Bhardwaj P. Replantation surgery. J
    Hand Surg Am. 2011 Jun;36(6):1104-10.
  </div>

  <div data-label="r13">
    13. Anatomy of axilla [Internet].
    Osmosis.org. Available from:
    <a href="https://www.osmosis.org/learn/Anatomy_of_the_axilla" target="_blank">
      https://www.osmosis.org/learn/Anatomy_of_the_axilla
    </a>
  </div>


</div>
