<div>
  <h2>Contents</h2>

  <ul style="font-size: 1.3rem;">
    <li data-ref="axil">Axilla</li>
    <li data-ref="adir">Anatomical direction</li>
    <li data-ref="baxi">Boundaries of axilla</li>
    <li data-ref="maxi">Muscles of axilla</li>
    <li data-ref="aart">Axillary artery</li>
    <li data-ref="avei">Axillary vein</li>
    <li data-ref="alyn">Axillary lymph nodes</li>
    <li data-ref="nerv">Nerves </li>
    <li data-ref="ares">Arm replantation sequence</li>
    <li data-ref="quiz">Quiz</li>
    <li data-ref="refs">Reference list</li>
  </ul>

</div>

<p>
  During the learning process, you can pause at any time by closing the website. When you reopen this website, you can return to the page by clicking the topic in the content. After you have familiarized yourself with the concepts, you can test yourself by taking the quizzes. Enjoy your learning!
</p>
