<h2 data-label="axil">Axilla <span class="reference-link" data-ref="r1">(1,2)</span></h2>
<div class="side-by-side-img">
  <img src="/slides/img/3-1.png">
  <img src="/slides/img/3-2.jpg">
</div>

<h3>Take a look at these two images. Do you think the axilla is part of the upper limb, shoulder, or thorax?</h3>

<div class="spoiler">
  The axilla could be part of all 3 areas and comprises structures of all 3 areas. It is an anatomical region underneath the shoulder (glenohumeral) joint that connects the upper limb to the shoulder and is the junction of the upper limb and the thorax. It is an important passageway for nerves, blood and lymph vessels going from the root of the neck to the upper limb. <span class="reference-link" data-ref="r3">(3)</span>
</div>
