<h2>Axilla <span class="reference-link" data-ref="r1">(1,2)</span></h2>
<div class="side-by-side-img">
  <img src="/slides/img/3-1.png">
  <img src="/slides/img/3-2.jpg">
</div>
<p>
  The anatomy of axilla can aid in understanding the arm replantation procedure. It will be introduced first in the slides below, including muscles, arteries, veins, nerves, and lymph nodes. In the later slides, click on the highlighted labels to view information and use the arrow at the bottom to change slides.
</p>
