<h2 data-label="adir">Anatomical direction <span class="reference-link" data-ref="r4">(4)</span></h2>

To start with, you should first be familiar with the anatomical direction terms.<br>

<img class="fullscreenimg" src="/slides/img/5.png">
