<h2 data-label="baxi">Boundaries of the axilla <span class="reference-link" data-ref="r2">(2,5)</span></h2>

<div class="include fullwidth" data-src="/slides/svg/6.svg"></div>
<div class="svg-hover-box" data-target="#rect899">
  It is the passage between the neck and the axilla. It is bounded by clavicle, first rib and scapula from anterior to posterior and forms a superior opening.
</div>
<div class="svg-hover-box" data-target="#rect899-3">
  It is the extension of axilla fascia and the skin on the axilla forming the armpit (axillary fossa)
</div>
<div class="svg-hover-box" data-target="#rect899-3-6">
  It is made up of the pectoralis major and minor. The anterior axillary fold is the inferiormost part of the anterior wall.
</div>
<div class="svg-hover-box" data-target="#rect899-3-7">
  It is made up of the scapula and subscapularis anteriorly, and the teres major and latissimus dorsi inferiorly. The posterior axillary fold is the inferiormost part of the posterior wall.
</div>
<div class="svg-hover-box" data-target="#rect899-3-7-5">
  It is the thoracic wall and the serratus anterior.
</div>
<div class="svg-hover-box" data-target="#rect994">
  It is the intertubercular sulcus of the humerus.
</div>
