
<h2 data-label="maxi">Muscles of axilla <span class="reference-link" data-ref="r2">(2,5)</span></h2>
<div class="include fullwidth" data-src="/slides/svg/7.svg"></div>

<p>
  Three spaces are formed by the muscles which allow the nerves and vessels to reach the arm. The details are shown in the graph.
</p>

<div class="svg-hover-box" data-target="#rect238">
  It originates at the clavicle and scapula and extends to the middle of humerus. Its three parts help in shoulder flexion, extension, abduction, and rotation.
</div>

<div class="svg-hover-box" data-target="#rect349">
  It helps in adduction and medial rotation of shoulder joint, as well as drawing the scapula moving anteriorly and inferiorly.
</div>

<div class="svg-hover-box" data-target="#rect903">
  It originates at the anterior surface of scapula and extends to the anterior part of the humerus. It works in shoulder joint motions and holds the humeral head on the concave on the scapula.
</div>

<div class="svg-hover-box" data-target="#rect1035">
  It attaches to the external surfaces of the lateral parts of the first to eighth ribs and the scapula.
</div>

<div class="svg-hover-box" data-target="#rect1149">
  It connects the scapula and the radius.
</div>

<div class="svg-hover-box" data-target="#rect1283">
  It is a large, flat muscle that covers the lower back and back of shoulders which helps in extending, abducting, and rotating the shoulder joint medially.
</div>

<div class="svg-hover-box" data-target="#rect1498">
  It runs from the lateral border of the scapula to the anterior part of humerus
</div>

<div class="svg-hover-box" data-target="#rect1714">
  It runs from the scapula to the proximal end of the ulna
</div>
