<h2 data-label="aart">Axillary artery <span class="reference-link" data-ref="r5">(5, 6)</span></h2>
<div class="include fullwidth" data-src="/slides/svg/8.svg"></div>

<p>
  It is the continuation of subclavian artery that starts at the lateral border of the first rib. It runs posterior to the pectoralis minor muscle and behind the clavicle. It is divided into three parts due to its relationship with the pectoralis minor. Its continuation enters the arm.
</p>

<p>
  Click on the numbers to see different parts of the axillary artery.
</p>

<div class="svg-hover-box" data-target="#path1896">
  It is proximal to pectoralis minor and branches into <b>superior thoracic artery</b>.<br>
  The <b>superior thoracic artery</b> supplies the pectoralis major and minor.
</div>

<div class="svg-hover-box" data-target="#path971">
  It lies posterior to pectoralis minor and branches into <b>thoracoacromial artery</b> and <b>lateral thoracic artery</b>.<br>
  The <b>thoracoacromial artery</b> is divided into four branches: pectoral, clavicular, acromial, and deltoid. They supply the pectoralis muscles, clavicle, acromion, and deltoid, respectively.<br>
  The <b>lateral thoracic artery</b> supplies the serratus anterior, both pectoralis muscles and the breast of female.<br>
</div>

<div class="svg-hover-box" data-target="#path1387">
  It is distal to pectoralis minor. It has three branches: subscapular, anterior circumflex humeral and posterior circumflex humeral arteries.<br>
  The <b>subscapular artery</b> is the largest branch. It divides into the <b>thoracodorsal artery</b> and <b>circumflex scapular artery</b>.<br>
  The <b>thoracodorsal artery</b> supplies the serratus anterior, and the <b>circumflex scapular artery</b> supplies the anterior edge of latissimus dorsi.<br>
  The <b>circumflex humeral arteries</b> anastomose and encircle the humerus. They supply the deltoid, triceps brachii and shoulder joint.
</div>
