<h2 data-label="avei">Axillary vein <span class="reference-link" data-ref="r2">(2, 7)</span></h2>

<img class="fullscreenimg" src="/slides/img/9.jpg" style="max-height: 50vh;">

<p>
  The axillary vein is formed by the confluence of a paired brachial vein and the basilic vein. It terminates at the lateral border of the first rib and continues as the subclavian vein. It has three parts.
  <br><br>
  The <b>cephalic vein</b> is a tributary of the first part.
  <br><br>
  The second and third parts correspond to the axillary artery and have more anastomoses.
</p>
